@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
.donation-container {
	height: 1000px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 12px;
    text-transform: uppercase;
    
}

.donation-box {
    display: flex;
	width: 390px;
	height: 386px;
	background-color: #F5F5F5;
	position: relative;
	margin-left: auto;
	margin-right: auto;
    margin-top: 200px;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    margin-left: 3%;
    margin-top: 12%;
    
}

.donation-box .title {
	background-color: magenta;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 15px;
}

.donation-box .donate-button {
	background-color: black;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 18px;
	bottom: 0px;
	position: absolute;
	cursor: pointer;
	font-weight: 800;
}

.donation-box .fields {
	width: 59%;
	display: block;
	position: absolute;
	top: 60px;
	left: 15px;
}

.donation-box .fields input {
	width: 90%;
	font-size: 17px;
	padding: 10px;
	border-radius: 4px;
	border-width: 0px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 10px;
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
   color: #cdcdcd;
   font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cdcdcd;
   font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cdcdcd;
   font-size: 15px; 
}

:-ms-input-placeholder {  
   color: #85bb65;
   font-size: 15px;
}

.donation-box .amount {
	width: 30%;
	display: block;
	position: absolute;
	top: 60px;
    right: 15px;
}

.donation-box .amount .button {
	width: 100%;
	background-color:black;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	padding: 15px 0px 15px 0px;
	border-radius: 4px;
	font-size: 20px;
	cursor: pointer;
	
	-webkit-transition: 400ms background-color;
	-moz-transition: 800ms opacity, 800ms right;
	-ms-transition: 800ms opacity, 800ms right;
	-o-transition: 800ms opacity, 800ms right;
	transition: 200ms background-color;
}

.donation-box .amount .button:hover {
	background-color: forestgreen;
}

.donation-box .amount .button.selected {
	background-color: wheat;
}

.donation-box .amount .button input {
	min-width: 34px;
	font-size: 20px;
	font-weight: 500;
	border: none;
	background-color: transparent;
	color: white;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	border-bottom: 2px dashed white;
	-webkit-font-smoothing: antialiased;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.set-amount {
	max-width: 96px;
}

.switch {
  position: absolute;
  top: 190px;
  left: 15px;
  margin: 20px auto;
  height: 26px;
  width: 58.5%;
  background: black;
  border-radius: 3px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 49%;
  line-height: 26px;
  font-size: 11px;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: white;
  
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 114px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 49%;
  height: 22px;
  background: black;
  border-radius: 3px;
  background-color: purple;
  
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.checkboxes {
	position: absolute;
	top: 242px;
	left: 13px;
}

.checkboxes label {
	position: relative;
	top: -8px;
	font-size: 13px;
	color: black;
}

.checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #85bb65;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.checkbox:active, .checkbox:checked:active {
	
}

.checkbox:checked {
	background-color: black;
	border: 1px solid black;
	color: black;
}


.confirm {
	display: none;
	position: absolute;
	top: 335px;
	left: 15px;
	right: 15px;
	font-size: 16px;
	
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.confirm i {
	font-weight: bold;
	text-decoration: underline;
	font-style: normal;
}



.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 5.5fr 3fr 0fr;
}


.headline {
    grid-area: 1 / 1 / 1 / 3;
    background: black;
    height: 100px;
    text-align: center;
    display: flex;
}


.middle-body {
    grid-area: 2 / 1 / 4 / 4;
    background-color: #42f5bf;
    height: 860px;
    display: flex;
}

.bottom-body {
    grid-area: 4 / 1 / 5 / 5;
    background-color:#ff5c5c;
    height: 100px;
    font-family: 'Modak', cursive;
    color: #941515;
    text-align: center;
    font-size: 30px;
}

body {
    background: black;
}


.butts {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.butt1 {
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: #EEFC6F;
    margin-left: 150px;
}   


.butt3 {
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: #EEFC6F;
    margin-left: 70px;
}

.headpic {
    width: 50px;
    height: 50px;
    display: flex;
    margin-top: 20px;
    margin-left: 2%;
}

#eins {
    font-size: 50px;
    color: wheat;
    font-size: 30px;
    margin-top: 8px;
    display: flex;
    margin-left: 2%;
    justify-content: left;
    font-family: 'Permanent Marker', cursive;
    color: #FFFFFF;
    margin-top: 25px;
}

.top-right {
    grid-area: 1 / 4 / 1 / 3;
    background: black;
    display: flex;
    justify-content:space-evenly ;
    width: 500px;
}

.bodypic1 {
    width: 300px;
    height: auto;
    display: flex;    
    margin-left: 50px;
}

.bodypic2 {
    width: 450px;
    height: auto;
    display: flex;
}

.money {
    width: 400px;
    height: auto;
    margin-right:250px;
    display: flex;

}